<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Banditore retrieves new releases from your Github starred repositories and put them in a RSS feed, just for you.">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}Bandito.re{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ asset('css/banditore.css') }}">
    {% endblock %}
</head>
<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/">Bandito.re</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="https://github.com/j0k3r/banditore" class="pure-menu-link">View it on Github</a></li>
                {% if app.user %}
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logged in as <b>{{ app.user.username }}</b></a></li>
                    <li class="pure-menu-item"><a href="{{ url('rss_user', { uuid: app.user.uuid }) }}" class="pure-menu-link">Your RSS feed</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block splash %}
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Get new release in your RSS!</h1>
                <p class="splash-subhead">
                    We gather new releases from your starred Github repositories and generate a RSS feed with them. <u>Just for you</u>.
                </p>
                <p>
                    <a href="{{ url('github_connect') }}" class="pure-button pure-button-primary">Try it!</a>
                </p>
            </div>
        </div>
    {% endblock %}

    <div class="content-wrapper">
        {% block body %}{% endblock %}

        <div class="footer l-box is-center">
            Site built with <a href="https://purecss.io/">Pure</a>,
            a bit of <i class="fa fa-beer"></i>
            and some <a href="https://www.iconfinder.com/iconsets/business-productivity-set-1">icons</a>,
            by <a href="https://twitter.com/j0k">@j0k</a>.
        </div>

    </div>

</body>
</html>
