{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <div class="middle-content">
        {% if app.session.flashBag.has('info') %}
            <div class="alert_success">
                {{ app.session.flashBag.get('info')|first }}
            </div>
        {% endif %}

        <h2 class="content-head is-center">Your latest releases</h2>

        {% if repos is empty %}
            <p><i>Here are some sample display.</i></p>
        {% endif %}

        <input type="checkbox" class="read-more-state" id="read-more" />

        <table class="pure-table">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Last&nbsp;version</th>
                    <th>Published&nbsp;at</th>
                </tr>
            </thead>

            <tbody class="read-more-wrap">
                {% for repo in repos -%}
                    <tr class="{% if loop.index is odd %}pure-table-odd{% endif %} {% if loop.index > 20 %}read-more-target{% endif %}">
                        <td data-th="Repo">
                            <img class="repo-avatar" src="{{ repo.ownerAvatar }}&amp;s=25"/>
                            <a href="https://github.com/{{ repo.fullName }}" title="{{ repo.description }}">{{ repo.fullName }}</a>
                        </td>
                        <td data-th="Last">
                            {% if repo.name and repo.name != repo.tagName -%}
                                {{ repo.name }} (<a href="{{ repo|link_to_version }}">{{ repo.tagName }}</a>)
                            {%- else -%}
                                <a href="{{ repo|link_to_version }}">{{ repo.tagName }}</a>
                            {%- endif %}

                            {% if repo.prerelease -%}
                                <span class="label_prerelease">pre-release</span>
                            {% endif -%}
                        </td>
                        <td data-th="Date">
                            <time datetime="{{ repo.createdAt|date("c") }}" title="{{ repo.createdAt|date("c") }}">{{ repo.createdAt|time_diff }}</time>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td data-th="Repo">
                            <img class="repo-avatar" src="https://avatars2.githubusercontent.com/u/5909549?v=3&amp;s=25"/>
                            <a href="#">sample/sample</a>
                        </td>
                        <td data-th="Last">First release (<a href="#">v1.0.0</a>)</td>
                        <td data-th="Date"><time datetime="{{ app.user.createdAt|date("c") }}" title="{{ app.user.createdAt|date("c") }}">{{ app.user.createdAt|time_diff }}</time></td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td data-th="Repo">
                            <img class="repo-avatar" src="https://avatars2.githubusercontent.com/u/5909549?v=3&amp;s=25"/>
                            <a href="#">sample/sample</a>
                        </td>
                        <td data-th="Last">
                            Prepare first release (<a href="#">v1.0.0-alpha.1</a>)
                            <span class="label_prerelease">pre-release</span>
                        </td>
                        <td data-th="Date"><time datetime="{{ date("-2days")|date("c") }}" title="{{ date("-2days")|date("c") }}">{{ date("-2days")|time_diff }}</time></td>
                    </tr>
                {% endfor -%}
            </tbody>
        </table>

        {% if repos|length > 20 %}
            <p class="is-center">
                <label for="read-more" class="read-more-trigger pure-button" data-more-items="{{ repos|length-20 }}"></label>
            </p>
        {% endif %}

        <h2 class="content-head is-center">Got some questions? Here is a FAQ</h2>

        <div>
            <h4>
                <i class="fa fa-clock-o"></i>
                How often does the app check for new release?
            </h4>
            <p>
                Banditore will check for new release <b>every 10 minutes</b>.
            </p>

            <h4>
                <i class="fa fa-clock-o"></i>
                How often does the app check for my starred repos?
            </h4>
            <p>
                Banditore will sync your starred repos <b>every 5 minutes</b>. You can also force it by logged out / logged in.
            </p>

            <h4>
                <i class="fa fa-eye-slash"></i>
                Why do I not see all my starred repos on the dashboard?
            </h4>
            <p>
                First, they can still be in sync. This could be the case if it's the very first time you logged in here.
                Second, not all repos got tag or release (which is sad). In that case, they'll never show up on your dashboard.
            </p>

            <h4>
                <i class="fa fa-question-circle-o"></i>
                Another question?
            </h4>
            <p>
                Feel free to <a href="https://github.com/j0k3r/banditore/issues/new">open an issue</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
